<html xmlns:th="http://www.thymeleaf.org">
	
<body>
	<h1>Create Review</h1>
	<form method="post"
		th:object="${review}"
		th:action="@{/review/crud/create}">
		
		<table>
			<tr>
				<td>Title:</td>
				<td><input type="text" th:field="*{title}"></td>
				<td th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></td>
			</tr>
			<tr>
				<td>Rating:</td>
				<td><input type="number" step="1" th:field="*{rating}"></td>
				<td th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"></td>
			</tr>
			<tr>
				<td>Description:</td>
				<td><input type="text" th:field="*{description}"></td>
				<td th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></td>
			</tr>
			<tr>
				<td>User:</td>
				<td>
					<select name="userId">
						<option th:each="user : ${users}"
								th:value="${user.userId}"
								th:text="${user.username}">
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Game:</td>
				<td>
					<select name="gameId">
						<option th:each="game : ${games}"
								th:value="${game.gameId}"
								th:text="${game.title}">
						</option>
					</select>
				</td>
			</tr>	
		</table>
		<button type="submit">
			Save
		</button>
	</form>
</body>
</html>
				
				