<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link th:href="@{/css/mystyle.css}" rel="stylesheet">
		<a th:href="@{/crud}">Back to CRUD page</a>
	</head>
	<body>
		<h1>All Games</h1>
		<div>
			<label>Filter by keyword</label>
			<form method="post" th:action="@{/filter/game}">
				<input type="text" name="keyword">
				<button type="submit">Filter</button>
			</form>
		</div>
		<!-- TODO -->
		<div>
			<label>Filter by start and end date</label>
			<form method="get" th:action="@{/filter/gamedate}">
				<input type="date" name="startDate" min="1990-01-01" max="2099-12-31">
				<input type="date" name="endDate" min="1990-01-01" max="2099-12-31">
				<button type="submit">Filter</button>
			</form>
		</div>
		<table border="1">
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Price</th>
				<th>Description</th>
				<th>Release date</th>
				<th>Developer</th>
				<th>Publisher</th>
				<th>Genres</th>
				<th th:colspan="2">Actions</th>
			</tr>
			<tr th:each="game :${package}">
				<td th:text="${game.gameId}"></td>
				<td th:text="${game.title}"></td>
				<td th:text="${game.price}"></td>
				<td th:text="${game.description}"></td>
				<td th:text="${game.releaseDate}"></td>
				<td th:text="${game.developer?.name}"></td>
				<td th:text="${game.publisher?.name}"></td>
				<td th:if="${game.genres != null}">
					<span th:each="genre : ${game.genres}">
						<span th:text="${genre.name}"></span>
					</span>
				</td>
				<td>
					<form method="get"
						th:action="@{/game/crud/update/{id}(id=${game.gameId})}">
						<button type="submit">
							Update
						</button>
					</form>
				</td>
				<td><form method="get"
						th:action="@{/game/crud/delete/{id}(id=${game.gameId})}">
						<button type="submit"
							th:onclick="return confirm('Are you sure you want to delete this entry?')">
							Delete
						</button>
					</form>
				</td>
			</tr>
		</table>
	</body>
</html>