<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link th:href="@{/css/mystyle.css}" rel="stylesheet">
		<a th:href="@{/crud}">Back to CRUD page</a>
	</head>
	<body>
		<h1>All Reviews</h1>
		<table border="1">
			<div>
				<label>Filter by Rating</label>
				<form method="get" th:action="@{/filter/rating}">
					<select name="rating">
						<option th:value="-1" th:text="'None'"></option>
						<option th:each="number : ${#numbers.sequence(1, 5)}"
							th:value="${number}"
							th:text="${number}">
						</option>
					</select>
					<button type="submit">Filter</button>
				</form>
			</div>
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Rating</th>
				<th>Description</th>
				<th>User</th>
				<th>Game</th>
				<th th:colspan="2">Actions</th>
			</tr>
			<tr th:each="rev :${package}">
				<td th:text="${rev.reviewId}"></td>
				<td th:text="${rev.title}"></td>
				<td th:text="${rev.rating}"></td>
				<td th:text="${rev.description}"></td>
				<td th:text="${rev.user.username}"></td>
				<td th:text="${rev.game.title}"></td>
				<td>
					<form method="get"
						th:action="@{/review/crud/update/{id}(id=${rev.reviewId})}">
						<button type="submit">
							Update
						</button>
					</form>
				</td>
				<td><form method="get"
						th:action="@{/review/crud/delete/{id}(id=${rev.reviewId})}">
						<button type="submit"
							th:onclick="return confirm('Are you sure you want to delete this entry?')">
							Delete
						</button>
					</form>
				</td>
			</tr>
		</table>
	</body>
</html>