<html xmlns:th="http://www.thymeleaf.org">

	<body>
		<h1>All User Games</h1>
		<div>
			<label>Filter by Game Status</label>
			<form method="get" th:action="@{/filter/gamestatus}">
				<select name="status">
					<option th:value="null" th:text="'None'"></option>
					<option th:each="status : ${T(com.ugh.ugh.enums.GameStatus).values()}"
						th:value="${status}"
						th:text="${status}">
					</option>
				</select>
				<button type="submit">Filter</button>
			</form>
		</div>
		<div>
			<label>Filter by User</label>
			<form method="get" th:action="@{/filter/usergames}">
				<select name="id">
					<option th:value="-1" th:text="'None'"></option>
					<option th:each="user : ${users}"
						th:value="${user.userId}"
						th:text="${user.username}">
					</option>
				</select>
				<button type="submit">Filter</button>
			</form>
		</div>

		<table border="1">
			<tr>
				<th>ID</th>
				<th>Game Status</th>
				<th>User</th>
				<th>Game</th>
				<th th:colspan="2">Actions</th>
			</tr>
			<tr th:each="usergame :${package}">
				<td th:text="${usergame.userGameId}"></td>
				<td th:text="${usergame.gameStatus}"></td>
				<td th:text="${usergame.user.username}"></td>
				<td th:text="${usergame.game.title}"></td>
				<td>
					<form method="get"
						th:action="@{/usergame/crud/update/{id}(id=${usergame.userGameId})}">
						<button type="submit">
							Update
						</button>
					</form>
				</td>
				<td><form method="get"
						th:action="@{/usergame/crud/delete/{id}(id=${usergame.userGameId})}">
						<button type="submit"
							th:onclick="return confirm('Are you sure you want to delete this entry?')">
							Delete
						</button>
					</form>
				</td>
			</tr>
		</table>
	</body>
</html>