<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link th:href="@{/css/mystyle.css}" rel="stylesheet">
		<a th:href="@{/developer/crud/all}">Back to all page</a>
	</head>
	<body>
		<h1>Update Developer</h1>
		<form method="post"
			th:object="${developer}"
			th:action="@{/developer/crud/update/__${id}__}">

			<table>
				<tr>
					<td>Name:</td>
					<td><input type="text" th:field="*{name}"></td>
					<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
				</tr>
			</table>
			<button type="submit">
				Save
			</button>
		</form>
	</body>
</html>
