<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link th:href="@{/css/mystyle.css}" rel="stylesheet">
		<a th:href="@{/user/crud/all}">Back to all page</a>
	</head>
	<body>
		<h1>Update User</h1>
		<form method="post"
			th:object="${user}"
			th:action="@{/user/crud/update/__${id}__}">

			<table>
				<tr>
					<td>Username:</td>
					<td><input type="text" th:field="*{username}"></td>
					<td th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></td>
				</tr>
				<tr>
					<td>Email:</td>
					<td><input type="email" th:field="*{email}"></td>
					<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
				</tr>
			</table>
			<button type="submit">
				Save
			</button>
		</form>
	</body>
</html>
